option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "xlsform_validator.settings"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:container:python:
    WSGIPath: xlsform_validator.wsgi:application


container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true
  03_create_superuser:
    command: "echo \"from django.contrib.auth import get_user_model; User = get_user_model(); User.objects.filter(username='admin').exists() or User.objects.create_superuser('admin', 'admin@example.com', 'changeme123')\" | python manage.py shell"
    leader_only: true
    ignoreErrors: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    LANG: "en_GB.UTF-8"
    LC_ALL: "en_GB.UTF-8"